GLFW_ICON ICON "rguiicons.ico"

1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "rGuiIcons - A simple and easy-to-use raygui icons editor"
      VALUE "FileVersion", "2.1"
      VALUE "InternalName", "rguiicons"
      VALUE "LegalCopyright", "(c) 2023 raylib technologies (@raylibtech)"
      //VALUE "OriginalFilename", "raylib_app.exe"
      VALUE "ProductName", "rGuiIcons"
      VALUE "ProductVersion", "2.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
